


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            
            <ul class="navbar-nav mr-auto">
                @if (User.Identity.IsAuthenticated)
                {


                    <li class="nav-item ">
                        <a href="/Music/Index" class="nav-link">Ana Sayfa</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/Music/MusicList" class="nav-link">Müzikler</a>
                    </li>
                    if (User.IsInRole("admin"))
                    {
                        <li class="nav-item ">
                            <a href="/Admin/MusicCreate" class="nav-link">Müzik Ekle</a>
                        </li>
                        <li class="nav-item ">
                            <a href="/Admin/AdminMusicList" class="nav-link">Admin Müzik Listesi</a>
                        </li>
                    }

                }
            </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="nav-item">
                            <a asp-controller="Music" asp-action="Index" class="nav-link">@User.Identity.Name</a>
                        </li>


                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Logout" class="nav-link">Çıkış Yap</a>
                        </li>
                    }
                </ul>

            </div>
    </div>
</nav>
